header div,
header nav,
#searchbar {
    min-width: max-content;
}

header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#storeNameContainer {
    height: 150px;
}

#logo {
    width: 120px;
    height: 120px;
}

#storeName {
    font-size: 4.5rem;
}

#search {
    width: 19vw;
    max-width: 227px;
    min-width: 72px;
}

#navbar {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 100%;
    justify-content: space-evenly;
}

.btn-link, #storeName {
    color: #333333;
}

.btn-link:hover {
    color: #7c7c7d;
}

@media screen and (max-width: 866px) {
    header {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 500px) {
    #logo {
        width: 60px;
        height: 60px;
    }
    #storeNameContainer {
        height: 80px;
    }
    #storeName {
        font-size: 3.5rem;
    }

    .nav-link {
        padding: 0 !important;
    }

    .navbar-nav {
        margin: 0;  
    }
    
    .navbar {
        min-height: 40px;
    }
}