.body {
    margin: 0;
}

.container2 {
    position: absolute;
    display: flex;
    width: 100%;
    height: 200px;
    background-color: blue;
}

.homeLogoDiv {
    position: absolute;
    display: flex;
    font-size: 16px;
    height: 50px;
    width: 100px;
    margin-left: 100px;
    margin-top: 40px;
}

.homeLogo {
    bottom: 10px;
    margin-left: -40px;
    margin-top: -40px;
}

.homeLogoDiv ol li {
    position: absolute;
    display: inline;
    font-family: "Arial";
    color: white;
    list-style-type: none;
}

.homeLogoDiv a {
    text-decoration: none;
}

.menuDiv {
    position: absolute;
    display: flex;
    height: 20px;
    width: 40%;
    margin-top: 160px;
    margin-left: 50px;
}

.menuDiv ul {
    position: absolute;
    list-style: none;
    display: flex;
}

.menuDiv ul li {
    display: inline;
}

.menuDiv ul li a {
    margin-top: -15px;
    padding: 15px 30px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.menuDiv ul li a:hover {
    color: black;
}

.divPesquisa {
    position: absolute;
    display: flex;
    height: 50px;
    width: 400px;
    margin-top: 90px;
    margin-left: 40%
}

.pesquisa {
    position: fixed;
    display: flex;
    margin-top: 0px;
    margin-left: auto
}

#texto {
    width: 350px;
    height: 40px;
    float: left;
    font-family: "Arial";
    font-size: 20px;
}

.btn {
    width: 45px;
    height: 41px;
    background-color: #2f4550;
    padding: 5px 10px;
}

#texto:focus {
    border: solid 2px black;
}

.divCarrinho {
    position: absolute;
    display: flex;
    height: 50px;
    width: 150px;
    margin-top: 40px;
    margin-left: 85%;
}

.divCarrinho ol li {
    position: absolute;
    display: inline;
    font-family: "Arial";
    color: white;
    list-style-type: none;
}

.divCarrinho a {
    position: absolute;
    display: flex;
    text-decoration: none;
}

.icones {
    bottom: 10px;
    margin-left: -40px;
    margin-top: auto;
}

.divLogin {
    position: absolute;
    display: flex;
    font-size: 16px;
    height: 50px;
    width: 100px;
    margin-left: 85%;
    margin-top: 100px;
}

.divLogin ol li {
    position: absolute;
    display: inline;
    font-family: "Arial";
    color: white;
    list-style-type: none;
}

.divLogin a {
    text-decoration: none;
    position: absolute;
    display: flex;
}

.divColecao {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 200px;
    background-color: black;
}

.divColecao p {
    position: absolute;
    display: flex;
    height: 0px;
    margin-top: 1%;
    margin-left: 7%;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.divProdutos {
    position: absolute;
    height: 150%;
    width: 100%;
    margin-top: 300px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.flashColecao {
    position: absolute;
    height: 50%;
    width: 40%;
    margin-top: 100px;
    margin-left: 7%;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.flashColecao img {
    height: 380px;
    width: 100%;
}

.BatmanColecao {
    position: absolute;
    height: 50%;
    width: 40%;
    margin-top: 100px;
    margin-left: 50%;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.BatmanColecao img {
    height: 380px;
    width: 100%;
}

.ViuvaColecao {
    position: absolute;
    height: 50%;
    width: 40%;
    margin-top: 35%;
    margin-left: 7%;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.ViuvaColecao img {
    height: 380px;
    width: 100%;
}

.CapColecao {
    position: absolute;
    height: 50%;
    width: 40%;
    margin-top: 35%;
    margin-left: 50%;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.CapColecao img {
    height: 380px;
    width: 100%;
}